@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Sigmar+One|Titillium+Web&display=swap');
/* 
font-family: 'Sigmar One', cursive;
font-family: 'Titillium Web', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

/* code to keep track of divs */
.new:nth-child(odd) {
  background-color: red;
}

.new:nth-child(even) {
  background-color: blue;
}

@media (min-width: 576px) {
  nav::before {
    content: "";
    min-width: 70vw;
  }



}