@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Sigmar+One|Titillium+Web&display=swap');
/* 
font-family: 'Sigmar One', cursive;
font-family: 'Titillium Web', sans-serif;
font-family: 'Josefin Sans', sans-serif; */

/* code to keep track of divs */
h1 {  
  font-family: 'Sigmar One', cursive;
  color: azure;
  font-size: 2rem;
}

#banner {
  background-image: url("../img/code.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 30vh;
  background-color: red;
}

@media (min-width: 576px) {
  nav::before {
    content: "";
    min-width: 70vw;
  }

  #banner {
    height: 20vh;
  }

}